/*......header-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav ul li {

    display: inline-block
}

header nav ul li :hover {
    color: #852680;
}


header {
    background-color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h1 {
    color: rgb(204, 222, 230);
    margin: 1em;

}

.nuestro h2 {
    color: darkgreen;
}


.produ h2 {
    color: darkorange;
}

.catalogo h1 {
    color: mediumblue;
}

.servi h2 {
    color: slateblue;
}

header nav ul {
    list-style: none;
    color: rgb(9, 75, 20);
    min-width: 440px;
    margin-left: auto;
    /* Alinear el menú a la derecha */
}

header nav ul li a {
    margin: 7px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: italic;

}

#contactos div img {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.lasmejores {
    justify-content: center;
    align-items: center;
    min-width: 1024px;
}

.lasmejores h2 {
    padding: top 0px;
    font-size: xx-large;
    text-align: center;
    font-style: oblique;
    color: rgb(157, 171, 175);
    background-image: url(../img/R.jpeg);
    height: 350px;
    width: 1617px;


}

section h3 {
    color: blueviolet;
}

.lasmejores div img {
    width: 400px;
    height: 400px;
}

.lasmejores h2 {
    font-size: 80px;



}

body {
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;



}

footer {
    background-image: url(../img/fondoss.jpg);
    min-width: 1024px;

}

.deitalia {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1024px;
}


.deitalia img {
    width: 600px;
    height: 700px;
}


.deitalia h3 {
    color: rgb(145, 124, 96);
    font-size: 70px;
    text-align: center;

}

.deitalia p {
    font: size 30px;
    color: rgb(141, 153, 123);
    margin: 0.5rem 0.2rem;
    font-size: 2em;

}

form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    color: #45a049;
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

body {
    color: black;
}

.boody {
    background-color: black;

}

.caja {
    color: #e6e5e5;
    border: 1px solid bisque;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    width: 120px;
    ;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 5px;

}

.flexcontainer {
    background-color: #535353;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    display: flex;
}

.carrouselPizzeria {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

div.listadoPizzas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

div.listadoPizzas div {
    display: inline-block;
    text-align: center;
    margin: 10px;
    vertical-align: top;
    width: 200px;
    /* Ajusta el ancho deseado para cada div */
}

div.listadoPizzas div img {
    width: 100%;
    height: auto;
}

div.listadoPizzas div h3 {
    color: blueviolet;
}

div.listadoPizzas div button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    color: #4537bd;
    text-align: center;
    margin-bottom: 30px;

}

.service {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.service p {
    color: #666;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    color: #fdfdfd;
    text-align: center;
}

.story {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(240, 236, 236, 0.856);
}

.story img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.story p {
    color: #666;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;

}

h1 {
    color: #0e3cd4;
    text-align: center;
}

.product {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #271a9c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.product h2 {
    color: #007bff;
    margin-bottom: 10px;
}

.product p {
    color: #831b1b;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #080808;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 1rem;
}

main {
    padding: 1rem;
}

.lasmejores {
    text-align: center;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    /* Asegura que los elementos se ajusten en varias líneas en pantallas pequeñas */
    justify-content: center;
}

.caja {
    width: 200px;
    height: 200px;
    background-color: rgb(31, 34, 194);
    margin: 0.5rem;
}

.carrouselPizzeria {
    margin-top: 2rem;
}

.listadoPizzas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.listadoPizzas div {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 767px) {}

header h1 {
    font-size: 24px;
}

nav {
    flex-direction: column;
    align-items: center;
}

nav li {
    margin: 0.5rem 0;
}

.flexcontainer .caja {
    width: 100%;
}
.listadoPizzas {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}